@model EduProject.Areas.User.Models.login
@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@section Title{登录-美妆商城}
@section Logo{
   <ul class="shopping_grid">
        <a href="#"><li><span class="m_1">购&nbsp;物&nbsp;车</span>&nbsp;&nbsp;(0) &nbsp;<img src="~/Content/User/images/bag.png" alt="" /></li></a>
        <a href="#"><li>注&nbsp;册</li></a>
        <div class="clearfix"> </div>
    </ul>
    }
<div class="about">
    <div class="container">
        <div class="register">
            <div class="col-md-6 login-left">
                <h3>新用户</h3>
                <p>在我们的商店你可以创建一个账户，通过此账户你将能够对你购买的商品进行结账、存储多个送货地址、查看和跟踪你的订单等</p>
                <a class="acount-btn" href="/User/Home/Register">注册新账户</a>
            </div>
            <div class="col-md-6 login-right">
                <h3>用户登录</h3>
                <p>已有账号?请登录</p>
                @*<form>*@
                @using (Html.BeginForm("login", "Home", FormMethod.Post))
                {
                    <div>
                        <span>邮箱地址：<label>*</label></span>
                        @*<input type="text">*@
                        @Html.TextBoxFor(c => c.email)
                    </div>
                    <div>
                        <span>密码：<label>*</label></span>
                        @*<input type="text">*@
                        @Html.TextBoxFor(c => c.password)
                    </div>
                    <a class="forgot" href="#">忘记密码?</a>

                    <input type="submit" value="登录">
                }

                @*</form>*@
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>