
@{
     Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@section Title{
    美妆商城
}
@section Meta{
    <meta charset="utf-8" />
<title>line friends限量莎莉鸭气垫BB - 海外直采,国内物流,海外价格,飞一般的免税店体验</title>
<meta name="description" content="聚美极速免税店，跨境美妆电商，致力为您提供正品、极速、便宜的海外美妆。我们严控货品来源，海外直采并放置于政府海关监管的保税区，国内物流送货，提供7天包退、国内售后等多项领先服务。" />
<meta name="keywords" content="聚美极速免税店,极速免税店,聚美优品极速免税店,聚美优品,聚美,化妆品,特卖,团购,海淘,全球购,海外购,免税店,马油,九朵云,可莱丝,IT'S SKIN" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="qc:admins" content="56207406376255516375" />
<link rel="stylesheet" type="text/css" href="http://a1.global.jmstatic.com/0316083e93ad4d0f/common.css" />
<link rel="stylesheet" type="text/css" href="http://a1.global.jmstatic.com/9e5ec088be2b1bd2/app.css" />
<script type="text/javascript">
    document.domain = 'jumeiglobal.com';
    var JM = JM || {};
    JM.SITE_MAIN_WEBBASEURL = 'http://www.jumeiglobal.com/';
    JM.SITE_MAIN_TOPLEVELDOMAINNAME = 'jumei.com';
    JM.CURRENT_SITE_MAIN_WEBBASEURL = 'jumeiglobal.com';
    JM.SITE_ITEM_WEBBASEURL = 'http://item.jumeiglobal.com/';
    JM.CONTROL = 'NewDeal';
    JM.ACTION = 'Detail';
    JM.SERVER_TIME = 1477042561;
    JM.SITE = 'www';
    JM.DEBUG = false;
    JM.DEGRADATION = false;
    JM.CRITEO_ID = 'ht161021p2419270t2';
    JM.DEAL_PRAISE = 1;
    JM.GLOBAL_HEAD = 1;
    JM.HIDE_GWC_HTML = 0;
    JM.DEAL_DISCOUNT = 1;
    JM.actGlobalHideKey = 'jml14';
    JM.actGlobalDMHideKey = 'jmdl14';
    JM.DEAL_PRICE = 0;

    ///JM.RM_SITE_MAIN_CART='jumei.com/';

    JM.CLIENT_TIME = parseInt((new Date()).getTime() / 1000);
    JM.DEAL_RECOM = 1;

    GA_ACCOUNT = "UA-51447284-1";
    window._gaq = window._gaq || [];
    _gaq.push(['_setAccount', GA_ACCOUNT]);
    _gaq.push(['_setDomainName', '.jumeiglobal.com']);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_trackPageview']);

    var _adwq = _adwq || [];
    _adwq.push(['_setAccount', '1ng4e']);
    _adwq.push(['_setDomainName', '.jumeiglobal.com']);
    _adwq.push(['_trackPageview']);
</script>
<link rel="stylesheet" type="text/css" href="http://a0.global.jmstatic.com/8a4cafbb749e0608/detail_other.css" /> 
    }
@section Logo{
    <ul class="shopping_grid">
        <a href="#"><li><span class="m_1">购&nbsp;物&nbsp;车</span>&nbsp;&nbsp;(0) &nbsp;<img src="~/Content/User/images/bag.png" alt="" /></li></a>
    </ul>
    <div class="clearfix"> </div>
}


<script type="text/javascript">
    (function () {
        var cssData = { '960': 'global_960', '1090': 'global_1090' },
            page = { 'Deal': '960', 'Home': '1090', 'Special': '1090', 'Page': '1090' },
            padCss = '.header_container,.footer_container, .wrapper_top_link{display:none} .product_introduce:hover,.product_column:hover{box-shadow: 1px 1px 4px #e3e3e3;}',
            ua = navigator.userAgent.toLowerCase(),
            isPad = ua.match(/\b(ipad)\b/) || false,
            isJumei = ua.match(/\b(jumei)\b/) || false,
            dom = document.getElementsByTagName('body'),
            wcss = page[JM.CONTROL] || 1090;
        if (isPad) {
            var vp = document.createElement('meta');
            vp.setAttribute('name', 'viewport');
            vp.setAttribute('content', 'initial-scale=1.0');
            document.head.appendChild(vp);

            if (isJumei) {
                var style = document.createElement("style");
                wcss = JM.RM_ACTION == 'Ipad' ? 960 : 1090;
                (document.getElementsByTagName("head")[0] || document.body).appendChild(style);
                if (style.styleSheet) {
                    style.styleSheet.cssText = padCss;
                } else {
                    style.appendChild(document.createTextNode(padCss));
                }
            }
        }
        if (dom.length > 0 && !isPad) {
            dom[0].className = cssData[wcss];
        }
    })();
</script>


<input type="hidden" id="ab_dealcart" value="0" />
<input type="hidden" id="local" value="0" />
<input type="hidden" id="speciallocal" value="main-web.GlobalHideKey" />
<input type="hidden" id="directwarehouse" value="1" />
<input type="hidden" id="platform" value="0" />
<div id="body" class="global_body">
    <div class="detail_wrap">
        <div class="deal_main clearfix">
            <div class="deal_left">
                <div class="deal_titles">
                    <p class="long_title"> <strong> </strong> <span class="single_price"></span> 【萌翻宇宙上妆利器】谜尚＆line限量莎莉鸭气垫BB叔叔，我们真的没打水光针！韩国谜尚&amp;line合作，推出莎莉鸭系列气垫BB，从此选气垫不再纠结！特含水润保湿分子，干皮也能轻松应对；良好的遮瑕力，解决粗燥凹凸的皮肤纹路。彩妆业界良心，用个半年不成问题！ </p>
                </div>
                <!--倒计时start-->
                <div class="preview_product btn_time">
                    <div class="numtimer_box time">
                        <span class="tips">距特卖结束</span>
                        <span class="recom_time_box time_box" diff="0" data-type=""></span>
                    </div>
                    <!--倒计时end-->
                    <div class="preview_product_id">
                        <div class="detail_sold_out"></div>
                        <img src="http://p1.global.jmstatic.com/product/002/419/2419270_std/2419270_dx_1000_400.jpg" class="ImageStd_1000" id="deal_img" />
                    </div>
                </div>
                <!-- JiaThis Button BEGIN -->
                <div class="product_info">
                    <div class="jiathis_style fr">
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico_jiathis" target="_blank">分享到 &gt;</a>
                    </div>
                </div>
                <!-- JiaThis Button END -->
            </div>
            <div class="deal_right">
                <div class="r_first clearfix">
                    <a href="http://search.jumei.com/?filter=0-0-0-0-11-1&amp;search=谜尚（Missha）&amp;from=home_deal_top_brandlogo_null_null" target="_blank" rel="nofollow"><img src="http://p0.jmstatic.com/brand/logo_180/12006.jpg" class="logo_brand" alt="logo_brand" onerror="this.style.display='none'" /></a>
                    <div class="flag_box_main clearfix fr">
                        <img src="http://p1.global.jmstatic.com/banner/area/000/000/021_flag.jpg?v2" class="p_img_lg fl" alt="flag" onerror="this.parentNode.style.display='none'" />
                        <ul class="fl">
                            <li class="area_code_b">韩国</li>
                            <li class="deal_en">Korea</li>
                        </ul>
                    </div>
                </div>
                <div class="r_second">
                    <ul class="price_module clearfix">
                        <!--非组合start-->
                        <li class="jumei_price"><em class="jp_cur">&yen;</em>??</li>
                        <li class="sh_mark sh_mark_price" id="sh_mark_price">
                            <span class="rmb_tax"></span>
                            <div class="mark_layer" style="display:none;">
                                <b class="caret_out"></b>
                                <b class="caret_in"></b>
                                <div class="mark_hover">
                                </div>
                            </div>
                        </li>
                        <!--非组合end-->
                    </ul>
                </div>
                <div class="people clearfix">
                    <!--秒杀不显示心愿 购买人数-->
                    <div class="num fl">
                        已购买人数
                        <em>928</em>
                    </div>
                    <div class="comments fr"></div>
                </div>
                <div class="r_third">
                    <dl class="mail_policy clearfix">
                        <dt class="fl">
                            包邮政策：
                        </dt>
                        <dd class="retail_global_mail">
                            满299元或2件包邮
                        </dd>
                    </dl>
                    <dl class="mail_policy clearfix">
                        <dt class="fl">
                            服务政策：
                        </dt>
                        <dd class="global_mail">
                            <span class="day"></span>7天拆封无理由退货
                        </dd>
                    </dl>
                    <dl class="deal_sku clearfix">
                        <dt>
                            <span class="r_third_spacing">型</span>号:
                        </dt>
                        <dt class="dt_relative">
                            <div class="deal_sku_input">
                                请选择型号
                            </div>
                            <i class="new_detail_btn"></i>
                            <div class="warningtip">
                                请选择型号
                            </div>
                            <ul class="sku_select" id="sku_select"></ul>
                        </dt>
                    </dl>
                </div>
                <div class="r_fourth">
                    <!--按钮状态start-->
                    <a href="javascript:;" class="detail_btn_fom btn_fom_add buy_local" id="shop_cart"><span>????</span><i></i></a>
                    <!--按钮状态end-->
                </div>
                <input type="hidden" id="show_category" value="special" />
                <input type="hidden" id="hid_hashid" value="ht161021p2419270t2" />
                <input type="hidden" id="hid_shippingsystemid" value="2310" />
                <input type="hidden" id="category_id" value="107" />
                <input type="hidden" id="deal_category" value="retail_global" />
                <input type="hidden" id="sku_no" value="702020541" />
                <input type="hidden" id="stream_id" class="stream_id" search_product_id="2419270" search_category_id="381" search_brand_id="12006" search_product_type="global_deal" search_show_id="0" search_hash_id="ht161021p2419270t2" search_sku_id="702020541" search_spu_id="0" search_warehouse_id="2310" price="119" search_short_name="line friends限量莎莉鸭气垫BB" search_category_path="化妆品/彩妆/底妆/BB霜/CC霜" />
            </div>
        </div>
        <!-- 香港直邮添加 deal_prefer_direct -->
        <div class="deal_prefer  clearfix" id="deal_prefer">
            <!--预售start-->
            <div class="list rightborder">
                <div class="item">
                    <div class="item_show item_show_0"></div>
                    <div class="item_desp item_desp_0">
                        <!-- <a href="http://www.jumeiglobal.com/about/#low_price" class="more" target="_blank"></a> -->
                    </div>
                </div>
            </div>
            <div class="list rightborder">
                <div class="item">
                    <div class="item_show item_show_1"></div>
                    <div class="item_desp item_desp_1">
                        <!-- <a href="http://www.jumeiglobal.com/about/#tariff_free_zone" class="more" target="_blank"></a> -->
                    </div>
                </div>
            </div>
            <div class="list rightborder">
                <div class="item">
                    <div class="item_show item_show_2"></div>
                    <div class="item_desp item_desp_2">
                        <!-- <a href="http://www.jumeiglobal.com/about/#send_goods" class="more" target="_blank"></a> -->
                    </div>
                </div>
            </div>
            <div class="list last">
                <div class="item">
                    <div class="item_show item_show_3"></div>
                    <div class="item_desp item_desp_3">
                        <!--  <a href="http://www.jumeiglobal.com/about/#return_goods" class="more" target="_blank"></a> -->
                    </div>
                </div>
            </div>
        </div>
        <!--推荐商品-->
        <div class="deal_detail deal_recom" deal_baoyou="299" id="deal_recom" hid_shippingsystemid="2310" deal_category="retail_global"></div>
        <div class="deal_detail">
            <div class="deal_tab_nav" id="anchorbar">
                <div class="inner">
                    <ul class="clearfix fl">
                        <li><a href="#spxx">商品信息</a></li>
                        <li><a href="#spxq">商品详情</a></li>
                    </ul>
                    <div class="nav_fixed_pric fr">
                        <span class="nav_fprice"> <strong class="jm_price"> &yen;?? </strong> </span>
                        <span class="btn"></span>
                    </div>
                </div>
            </div>
            <div class="content_nav_con content_book">
                <!--授权书-->
                <!--品牌介绍（店铺介绍）-->
            </div>
            <div class="ptb_30">
                <div id="spxx" class="content_nav_con  content_book">
                    <div class="detail_content guts_box"></div>
                    <div class="content_text">
                        <textarea> &lt;div class=&quot;deal_con_content&quot;&gt; &lt;table border=&quot;0&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;font-family:arial;&quot;&gt; &lt;tbody&gt; &lt;tr&gt; &lt;td width=&quot;85&quot; align=&quot;left&quot;&gt;&lt;b&gt;商品名称：&lt;/b&lt;/td &lt;td width=&quot;500&quot;&gt;&lt;span&gt;line friends限量莎莉鸭气垫BB&lt;/span&lt;/td &lt;td rowspan=&quot;7&quot; style=&quot;padding-right:0;&quot;&gt; &lt;img src=&quot;http://p1.global.jmstatic.com/product/002/419/2419270_std/2419270_200_200.jpg&quot; class=&quot;w200&quot;&gt; &lt;/td &lt;/tr &lt;tr&gt; &lt;td width=&quot;85&quot; align=&quot;left&quot;&gt;&lt;b&gt;商品型号：&lt;/b&lt;/td &lt;td&gt; &lt;span style=&quot;margin-right:10px;&quot;&gt;#21，15g*2(702020541)；&lt;/span &lt;/td &lt;/tr &lt;tr&gt; &lt;td align=&quot;left&quot;&gt;&lt;b&gt;品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌：&lt;/b&lt;/td &lt;td&gt;&lt;span&gt;谜尚（Missha）&lt;/span&lt;/td &lt;/tr &lt;tr&gt; &lt;td align=&quot;left&quot;&gt;&lt;b&gt;分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：&lt;/b&lt;/td &lt;td&gt;&lt;span&gt;BB霜/CC霜&lt;/span&lt;/td &lt;/tr &lt;tr&gt; &lt;td align=&quot;left&quot;&gt;&lt;b&gt;适用人群：&lt;/b&lt;/td &lt;td&gt;&lt;span&gt;所有爱美的MM&lt;/span&lt;/td &lt;/tr &lt;tr&gt; &lt;td align=&quot;left&quot;&gt;&lt;b&gt;保质期限：&lt;/b&lt;/td &lt;td&gt;&lt;span&gt;3年（具体日期以收到实物为准）&lt;/span&lt;/td &lt;/tr &lt;tr&gt; &lt;td align=&quot;left&quot;&gt;&lt;b&gt;原产国家：&lt;/b&lt;/td &lt;td&gt;&lt;span&gt;韩国&lt;/span&lt;/td &lt;/tr &lt;/tbody &lt;/table &lt;/div </textarea>
                    </div>
                </div>
                <div id="spxq" class="content_nav_con">
                    <div class="detail_content spxq_box"></div>
                    <div class="content_text">
                        <textarea>&lt;p&gt; &lt;img src=&quot;http://p12.jmstatic.com/html_editor/201604/14/14606128982813.jpg&quot; alt=&quot;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201610/19/14768419174997.jpg&quot; alt=&quot;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201605/10/14628601368091.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201605/10/14628601475477.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201603/14/1457948835424.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201603/14/14579488441759.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201603/14/14579488443112.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201603/14/14579488444313.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201604/14/1460612917501.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201605/10/14628601926342.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt;&lt;img src=&quot;http://p12.jmstatic.com/html_editor/201603/14/14579488448096.jpg&quot; alt=&quot;&quot; style=&quot;font-size:12px;line-height:1.5;&quot; /&gt; &lt;/p</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://a3.global.jmstatic.com/d9424fdc955fd947/lib.js"></script>
<script src="http://a1.global.jmstatic.com/2b44719afb1722e9/ui.js"></script>
<script src="http://a2.global.jmstatic.com/b3a5f918ea2ec803/app.js"></script>
<script>

    if ((JM.SERVER_TIME >= 1454774401 && JM.SERVER_TIME <= 1454806799)
        || (JM.SERVER_TIME >= 1454839201 && JM.SERVER_TIME <= 1454893199)
        || (JM.SERVER_TIME >= 1454925601 && JM.SERVER_TIME <= 1454979599)
        || (JM.SERVER_TIME >= 1455012001 && JM.SERVER_TIME <= 1455065999)
        || (JM.SERVER_TIME >= 1455098401 && JM.SERVER_TIME <= 1455152399)
        || (JM.SERVER_TIME >= 1455184801 && JM.SERVER_TIME <= 1455238799)
        || (JM.SERVER_TIME >= 1455271201 && JM.SERVER_TIME <= 1455325199)
    ) {
        $(function () {
            $("#detailfaq").off("click");
            $("#detailfaq").on("click", function () {
                var tpl = '<div class="spring"><div class="spring_title"><span class="title">温馨提示</span><div class="close"></div></div>' +
                    '<div class="spring_content"><div class="content">春节2月7日-12日，客服时间暂调整为9:00-18:00。<br/>2月13日9:00起，恢复24小时服务。祝您春节愉快！</div>' +
                    '<div class="close">我知道了</div></div> </div>';
                var bg = '<div class="spring_bg"></div>';
                if ($(".spring").length <= 0) {
                    $("body").append(tpl);
                }
                if ($(".spring_bg").length <= 0) {
                    $("body").append(bg);
                }
                $(".close").on("click", function () {
                    $(".spring_bg").fadeOut(500);
                    $(".spring").fadeOut(300);
                });
                $(".spring_bg").fadeIn(300);
                $(".spring").fadeIn(500);
            });

        });
    }
</script>
<script src="http://a3.global.jmstatic.com/314895e0ddf3ea2c/detail_main.js"></script>
<!-- <script src="http://xray.jebe.renren.com/xray/code/arrive.htm?busi=jumei&memId=100000006" language="JavaScript"></script> -->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
    //ga
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'http://s0.jmstatic.com/templates/jumei/js/jquery/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

    })();

    //baidu tongji
    (function () {
        var baidu_tongji = document.createElement('script'); baidu_tongji.type = 'text/javascript';
        baidu_tongji.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'hm.baidu.com/h.js?202f3ad244bdee87bc472ca5481a9267';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(baidu_tongji, s);
    })();

    //criteo
    (function () {
        var crtevent = 'viewList',
            item_id = JM.CRITEO_ID || "";
        if (JM.CONTROL == 'Home') {
            crtevent = 'viewHome';
        } else if (JM.CONTROL == 'Deal') {
            crtevent = 'viewItem';
        }
        window.criteo_q = window.criteo_q || [];
        window.criteo_q.push(
            { event: "setAccount", account: 16779 },
            { event: "setHashedEmail", email: "" },
            { event: "setSiteType", type: "d" },
            { event: crtevent, item: item_id, user_segment: "" }
        );
    })();


    //agt
    var _agt = _agt || [];
    _agt.push(['_atscu', 'AG_774222_DMOV']);
    _agt.push(['_atsdomain', 'jumeiglobal.com']);
    (function () {
        var ag = document.createElement('script');
        ag.type = 'text/javascript';
        ag.async = true;
        ag.src = (document.location.protocol == 'https:' ? 'https' : 'http') + '://' + 't.agrantsem.com/js/ag.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ag, s);
    })();

    // 因详情页的部分静态化，需要给首页和组合购单独处理
    if (JM.CONTROL === 'Home') {

        // 品友
        var _py = _py || [];
        _py.push(['a', '_d..wY1itoZJBOFwMNeSVmLboP']);
        _py.push(['domain', 'stats.ipinyou.com']);
        _py.push(['e', '']);
        -function (d) {
            var s = d.createElement('script'),
            e = d.body.getElementsByTagName('script')[0]; e.parentNode.insertBefore(s, e),
            f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://' + (f ? 'fm.ipinyou.com' : 'fm.p0y.cn') + '/j/adv.js';
        }(document);

        // 晶赞
        var __zp_tag_params = {
            chanelName: "极速免税店"
        };
        (function (param) {
            var c = { query: [], args: param || {} };
            c.query.push(["_setAccount", "428"]);
            c.query.push(["_setSiteID", "1"]);
            (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
            var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
            zp.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//cdn.zampda.net/s.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
        })(__zp_tag_params);
    }
    if (JM.ACTION === 'Combination') {
        // 普通组合购和新版组合购
        var Cookie = {
            //读取cookies
            get: function (name) {
                var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                if (arr = document.cookie.match(reg))
                    return unescape(arr[2]);
                else
                    return '';
            }
        }

        var $stream_id = $('#stream_id');
        var img_url = $('#deal_img').prop('src');
        var nickname = Cookie.get('nickname');
        var cookie_uid = Cookie.get('cookie_uid');
        var category_id = $('#category_id').val() || '';
        var hash_id = $('#hid_hashid').val() || '';
        var product_id = $stream_id.attr('search_product_id');
        var short_name = $stream_id.attr('search_short_name');
        var brand_id = $stream_id.attr('search_brand_id');
        var category_path = $stream_id.attr('search_category_path') || '';
        var search_category_id = $stream_id.attr('search_category_id');
        var jumei_price = $stream_id.attr('price');
        var market_price = $stream_id.attr('market_price');
        var status = $('#button_type').length ? $('#button_type').val() : '0';
        var end_time = $stream_id.attr('search_end_time');
        var buyer_number = $stream_id.attr('search_buyer_number');
        var product_url = window.location.href;


        // 晶赞
        window.__zp_tag_params = {
            pagetype: 'detail',
            productId: hash_id,
            stock: status,
            p_zp_prodstype: '53e29afa958a394f21589229dc6613ed',
            p_zp_prods: {
                "outerid": hash_id,//商品id
                "name": short_name,
                "brand": brand_id,
                "category": category_id,
                "subCategory": "",
                "thirdCategory": search_category_id,
                "price": jumei_price,
                "value": market_price,
                "image": img_url,
                "loc": product_url,
                "stock": '' + status
            }
        };
        (function (param) {
            var c = { query: [], args: param || {} };
            c.query.push(["_setAccount", "428"]);
            c.query.push(["_setSiteID", "1"]);
            (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
            var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
            zp.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//cdn.zampda.net/s.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
        })(window.__zp_tag_params);

        // 品友
        var _goodsData = {
            id: product_id,
            soldOut: status,
            category: category_path,
            categoryId: category_id,
            name: short_name,
            price: jumei_price,
            imgUrl: img_url,
            productUrl: product_url,
            domain: 'www',
            brand: '',
            promotion: '热卖',
            origPrice: market_price
        };
        window._py = window._py || [];
        _py.push(['a', '_d..wY1itoZJBOFwMNeSVmLboP']);
        _py.push(['domain', 'stats.ipinyou.com']);
        _py.push(['pi', _goodsData]);
        _py.push(['e', '']);
        -function (d) {
            var s = d.createElement('script'),
            e = d.body.getElementsByTagName('script')[0], f;
            e.parentNode.insertBefore(s, e),
            f = 'https:' == location.protocol;
            s.src = (f ? 'https' : 'http') + '://' + (f ? 'fm.ipinyou.com' : 'fm.p0y.cn') + '/j/adv.js';
        }(document);
    }

    if (JM.CONTROL === 'Special') {
        // 晶赞
        var __zp_tag_params = {
            pagetype: "actPage"
        };
        (function (param) {
            var c = { query: [], args: param || {} };
            c.query.push(["_setAccount", "428"]);
            c.query.push(["_setSiteID", "1"]);
            (window.__zpSMConfig = window.__zpSMConfig || []).push(c);
            var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
            zp.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//cdn.zampda.net/s.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
        })(__zp_tag_params);
    }

</script>   

    